@use "variables" as vars;

form {
  max-width: 720px;
  margin: 0 auto;

  label {
    font-weight: 600;
  }

  input,
  select,
  textarea {
    width: 100%;
    padding: 10px;
    border-radius: vars.$radius-sm;
    border: 1px solid #ccc;

    &:focus {
      border-color: vars.$secondary;
      outline: none;
    }
  }

  button {
    background-color: vars.$primary;
    color: vars.$text-light;

    &:hover {
      background-color: vars.$secondary;
    }
  }
}
