.imagen-inicial {
  width: 90%;
  display: block;
  height: auto;
  margin: 40px auto;
  border-radius: 12px;
  will-change: transform, opacity;
}

.img-blog {
  display: block;
  width: 100%;
  max-width: 260px;
  height: auto;
  margin: 12px auto;
  border-radius: 12px;
}
