@use "variables" as vars;

body {
  font-family: vars.$font-main;
}

h1 {
  font-size: 100px;
  font-weight: 100;
  color: rgb(160, 152, 152);
  text-transform: uppercase;
}

h3 {
  font-size: 50px;
  color: rgb(72, 132, 156);
  font-weight: 100;
}

h6 {
  font-size: 30px;
  color: rgb(23, 44, 53);
  font-weight: 100;
}

a {
  text-decoration: none;
  font-weight: 600;
  color: vars.$text-light;
  transition: all vars.$transition-base;

  &:hover {
    color: vars.$secondary;
    transform: scale(1.05);
  }

  &:focus {
    outline: 2px solid vars.$secondary;
    outline-offset: 2px;
  }

  &:active {
    transform: scale(0.98);
  }
}
